<div *ngIf="session && sessionMeeting" style="margin-top: 20px" >
    <p-breadcrumb *ngIf="items" [model]="items"></p-breadcrumb>


    <div class="grid">
        <div class="col-12">
            <p-divider align="left" type="dashed">
                <label style="font-size: 1.1em; color: silver"></label>
            </p-divider>
            <p-divider align="left" type="dashed">
                <div class="p-d-inline-flex p-ai-center">
                    <em class="pi pi-calendar p-mr-2"></em>
                    <strong>{{sessionMeeting.meetingTopic |uppercase}}</strong>
                </div>
            </p-divider>
            <div style="padding-left: 25px;">
                <label style="font-size: 2.1em;">{{session.description}}</label>
            </div>

        </div>

        <div class="col-12" style="text-align: right">
            <app-time-tracker-button [sessionId]="session.meetingSessionId" [meetingId]="session.meetingId" ></app-time-tracker-button>
            <label>&nbsp;</label>
            <p-chip icon="pi pi-calendar" [label]="session.meetingDate | date:'dd.MM.yyyy' "></p-chip>
            <label>&nbsp;</label>
            <app-meeting-session-share [session]="session"></app-meeting-session-share>
        </div>


        <div class="col-6">
            <div>
                <div style="margin-top: 25px;">
                    <p-divider align="left" type="dashed">
                        <div class="p-d-inline-flex p-ai-center">
                            <em class="pi pi-users p-mr-2"></em>
                            <b>DESCRIPTION</b>
                        </div>
                    </p-divider>
                    <textarea
                        (keydown)="descriptionKeyDown($event)"
                        style="width: 100%"
                        pInputTextarea
                        [(ngModel)]="session.description"></textarea>
                    <div style="text-align: right">
                        <button *ngIf="show_description_save_button"
                                (click)="updateDescription()"
                                pButton
                                class="p-button-success"
                                icon="pi pi-save"></button>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-6">
            <div style="margin-top: 25px;">
                <p-divider align="left" type="dashed">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-users p-mr-2"></i>
                        <b>PARTICIPANTS</b>
                    </div>
                </p-divider>
                <div style="text-align: left">
                    <p-avatar *ngFor="let p of session.participants" shape="circle" icon="pi pi-user" size="large" [label]="p.initial" [pTooltip]="p.fullName" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}" ></p-avatar>
                    <p-avatar shape="circle" (click)="show_participant_widget = !show_participant_widget" icon="pi pi-plus" size="large" ></p-avatar>
                </div>
            </div>
        </div>

        <div class="col-12">
            <p-tabView>
                <p-tabPanel header="Overview">
                    <div class="grid">
                        <div class="sm:col-12 md:col-6">
                            <app-show-session-notes [sessionId]="session.meetingSessionId" type="card"></app-show-session-notes>
                        </div>
                        <div class="sm:col-12 md:col-6">
                            <app-meeting-agenda-overview [meetingId]="session.meetingSessionId" [sessionId]="session.meetingSessionId" ></app-meeting-agenda-overview>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Notes">
                    <div class="p-grid">
                        <div class="p-sm-12 p-md-12">
                            <app-show-session-notes [session]="session" type="card"></app-show-session-notes>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Todos">
                    <div class="p-grid">
                        <div class="p-sm-12 p-md-12">
                            <p-divider align="left" type="dashed">
                                <div class="p-d-inline-flex p-ai-center">
                                    <i class="pi pi-check p-mr-2"></i>
                                    <b>TODOS</b>
                                </div>
                            </p-divider>
                            <app-session-todo [meetingId]="sessionMeeting.id" [sessionId]="session.meetingSessionId" ></app-session-todo>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Timetracking">
                    <app-time-tracker [sessionId]="sessionId" [meetingId]="meetingId"></app-time-tracker>
                </p-tabPanel>
            </p-tabView>
        </div>


    </div>


    <div style="position: fixed; bottom: 100px; right: 100px;" class="speeddial-circle-demo">
        <p-speedDial  [model]="commandItems" radius="120" direction="up-left" type="quarter-circle" ></p-speedDial>
    </div>

    <p-dialog [(visible)]="show_create_meeting_note" responsive="true" resizable="true" [style]="{minWidth:'600px'}" modal="true"  >
        <app-create-meeting-note (created)="handleCreatedNote($event)" [session]="session"></app-create-meeting-note>
    </p-dialog>

    <p-dialog [responsive]="true" modal="true" [style]="{minWidth:'80%'}" [(visible)]="show_participant_widget">
        <app-participant-widget *ngIf="show_participant_widget" (onSelect)="selectParticipantForSession($event)" ></app-participant-widget>
    </p-dialog>

</div>



<p-toast position="bottom-center"></p-toast>
