<div class="lab-topbar clearfix" *ngIf="user">
    <div class="logo" style="padding-top: 10px;">
        <a href="#">
            <p-avatar shape="circle" size="large" label="C"></p-avatar>
        </a>
    </div>
    <div class="logo" style="padding-top: 10px;" >
        <a href="#">
            <p-avatar shape="circle" size="large" label="LAB"></p-avatar>
        </a>
    </div>

    <a href="#">
        <img *ngIf="false" src="assets/layout/images/logo-text.svg" class="app-name"/>
    </a>



    <a id="topbar-menu-button" href="#" >
        <i class="pi pi-bars"></i>
    </a>

    <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-visible': false}">

        <li #messages [ngClass]="{'active-topmenuitem':activeTopbarItem === messages}">
            <a href="#" (click)="onTopbarItemClick($event,messages)">
                <i class="topbar-icon pi pi-envelope"></i>
                <span class="topbar-badge">5</span>
                <span class="topbar-item-name">Messages</span>
            </a>
            <ul class="fadeInDown">
                <li role="menuitem">
                    <a href="#" class="topbar-message" (click)="appMain.onTopbarSubItemClick($event)">
                        <img src="assets/layout/images/avatar1.png" width="35"/>
                        <span>Give me a call</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" class="topbar-message" (click)="appMain.onTopbarSubItemClick($event)">
                        <img src="assets/layout/images/avatar2.png" width="35"/>
                        <span>Sales reports attached</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" class="topbar-message" (click)="appMain.onTopbarSubItemClick($event)">
                        <img src="assets/layout/images/avatar3.png" width="35"/>
                        <span>About your invoice</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" class="topbar-message" (click)="appMain.onTopbarSubItemClick($event)">
                        <img src="assets/layout/images/avatar2.png" width="35"/>
                        <span>Meeting today at 10pm</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" class="topbar-message" (click)="appMain.onTopbarSubItemClick($event)">
                        <img src="assets/layout/images/avatar4.png" width="35"/>
                        <span>Out of office</span>
                    </a>
                </li>
            </ul>
        </li>

        <li #profile class="profile-item" [ngClass]="{'active-topmenuitem':false}">
            <a href="#">
                <div class="profile-image">
                    <p-avatar
                        size="large" [style]="{'background-color':'#2196F3', 'color': '#ffffff'}"
                        shape="circle"
                        [label]="initial()"></p-avatar>

                </div>
                <div class="profile-info">
                    <span class="topbar-item-name profile-name">{{user?.given_name}} {{user?.family_name}}</span>
                </div>
            </a>

            <ul class="fadeInDown">
                <li role="menuitem">
                    <a href="http://pi4:8180/auth/realms/CIS/account" target="parent" >
                        <i class="pi pi-user"></i>
                        <span>Profile</span>
                        <span class="topbar-submenuitem-badge">5</span>
                    </a>
                </li>
                <li role="menuitem" *ngIf="false">
                    <a href="#">
                        <i class="pi pi-lock"></i>
                        <span>Privacy</span>
                        <span class="topbar-submenuitem-badge">2</span>
                    </a>
                </li>
                <li role="menuitem" *ngIf="false">
                    <a href="#">
                        <i class="pi pi-cog"></i>
                        <span>Settings</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" (click)="logout()">
                        <i class="pi pi-sign-out"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </ul>
        </li>
        <li #settings *ngIf="false" [ngClass]="{'active-topmenuitem':false}">
            <a href="#">
                <i class="topbar-icon pi pi-cog"></i>
                <span class="topbar-item-name">Settings</span>
            </a>
            <ul class="fadeInDown">
                <li role="menuitem">
                    <a href="#">
                        <i class="pi pi-palette"></i>
                        <span>Change Theme</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" >
                        <i class="pi pi-heart"></i>
                        <span>Favorites</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#">
                        <i class="pi pi-lock"></i>
                        <span>Lock Screen</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" >
                        <i class="pi pi-image"></i>
                        <span>Wallpaper</span>
                    </a>
                </li>
            </ul>
        </li>
        <li #messages *ngIf="false" [ngClass]="{'active-topmenuitem':false}">
            <a href="#" (click)="appMain.onTopbarItemClick($event,messages)">
                <i class="topbar-icon pi pi-envelope"></i>
                <span class="topbar-badge">5</span>
                <span class="topbar-item-name">Messages</span>
            </a>
            <ul class="fadeInDown">
                <li role="menuitem">
                    <a href="#" class="topbar-message" >
                        <img src="assets/layout/images/avatar1.png" width="35"/>
                        <span>Give me a call</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" class="topbar-message" >
                        <img src="assets/layout/images/avatar2.png" width="35"/>
                        <span>Sales reports attached</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" class="topbar-message" >
                        <img src="assets/layout/images/avatar3.png" width="35"/>
                        <span>About your invoice</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" class="topbar-message" >
                        <img src="assets/layout/images/avatar2.png" width="35"/>
                        <span>Meeting today at 10pm</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" class="topbar-message" >
                        <img src="assets/layout/images/avatar4.png" width="35"/>
                        <span>Out of office</span>
                    </a>
                </li>
            </ul>
        </li>
        <li *ngIf="false" #notifications [ngClass]="{'active-topmenuitem':false}">
            <a href="#" >
                <i class="topbar-icon pi pi-clock"></i>
                <span class="topbar-badge">4</span>
                <span class="topbar-item-name">Notifications</span>
            </a>
            <ul class="fadeInDown">
                <li role="menuitem">
                    <a href="#" >
                        <i class="pi pi-sliders-h"></i>
                        <span>Pending tasks</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" >
                        <i class="pi pi-calendar"></i>
                        <span>Meeting today at 3pm</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" >
                        <i class="pi pi-download"></i>
                        <span>Download documents</span>
                    </a>
                </li>
                <li role="menuitem">
                    <a href="#" >
                        <i class="pi pi-ticket"></i>
                        <span>Book flight</span>
                    </a>
                </li>
            </ul>
        </li>
        <li *ngIf="false" #search class="search-item" [ngClass]="{'active-topmenuitem':false}">
                        <span class="p-input-icon-right">
                            <input type="text" pInputText placeholder="Search">
                            <i class="topbar-icon pi pi-search"></i>
                        </span>
        </li>
    </ul>
</div>
