<div class="grid">

    <div class="col-12" style="text-align: right">
        <div class="grid dashboard">
            <div *ngIf="false" class="col-12 md:col-6 lg:col-3">
                <div class="p-grid p-nogutter card ">
                    <button pButton></button>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="grid p-nogutter card overview-box overview-box-1">
                    <span class="overview-box-name">Time Spent</span>
                    <span class="overview-box-count">{{meetingTimeAggregate?.time?.formatted}}</span>
                    <img alt="chart1" src="assets/layout/images/dashboard/chart-1.svg" />
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="grid p-nogutter card overview-box overview-box-2">
                    <span class="overview-box-name">Bookings</span>
                    <span class="overview-box-count">{{meetingTimeAggregate?.times?.length}}</span>
                    <span class="overview-box-badge">+45%</span>
                    <img alt="chart2" src="assets/layout/images/dashboard/chart-2.svg" />
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="grid p-nogutter card overview-box overview-box-1">
                    <span class="overview-box-name">Average Spent</span>
                    <span class="overview-box-count">{{meetingTimeAggregate?.time?.formatted}}</span>
                    <img alt="chart3" src="assets/layout/images/dashboard/chart-1.svg" />
                </div>
            </div>
        </div>

    </div>

    <div class="col-6">
        <div style="margin-bottom: 7px;">
            <div style="float: right">
                <app-time-tracking-button [sessionId]="sessionId"></app-time-tracking-button>
            </div>
            <div style="clear: both"></div>
        </div>
        <textarea style="width: 100%" [(ngModel)]="description" pInputTextarea rows="3" maxlength="200">

        </textarea>
        <div style="margin: 5px;">
        </div>

        <button pButton
                style="width: 100%"
                label="BUCHEN"
                (click)="book()"></button>

    </div>
    <div class="col-6">

        <p-table [value]="meetingTimeAggregate?.times" [responsive]="true">
            <ng-template pTemplate="caption">
                <button style="float:right"
                        pButton
                        label="BOOK">
                </button>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>DATE</th>
                    <th>NOTE</th>
                    <th>
                        <button
                            pButton
                            icon="pi pi-plus"
                            label="TIME">
                        </button>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-t>
                <tr>
                    <td><label>{{t.date | date:'dd.MM.yyyy'}}</label></td>
                    <td><label>{{t.description}}</label></td>
                    <td><label>{{t.time.formatted}}</label></td>
                </tr>
            </ng-template>

        </p-table>

    </div>
</div>

