<div class="grid">

    <p-toast position="top center"></p-toast>

    <div class="col-12">
        <p-divider align="left" type="dashed">
            <div class="p-d-inline-flex p-ai-center">
                <em class="pi pi-book p-mr-2"></em>
                <b>SUBJECT</b>
            </div>
        </p-divider>
        <div class="p-field">
                    <span class="p-float-label">
                        <input type="text" id="inputtext" pInputText [(ngModel)]="cmd.subject" style="width: 100%" >
                        <label for="inputtext">MEETING-SUBJECT</label>
                    </span>
        </div>

    </div>


    <div style="text-align: right" class="col-12">
        <button pButton label="BACK" [routerLink]="['/app/wdys']" class="p-button-link"></button>
        <button pButton label="SPEICHERN" (click)="save()" class="p-button-success"></button>
    </div>

    <div class="lg:col-4 sm:col-12">
        <p-divider align="left" type="dashed">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-calendar p-mr-2"></i>
                <b>DATE</b>
            </div>
        </p-divider>
        <p-calendar name="date" [(ngModel)]="cmd.meetingTime" [inline]="true" [firstDayOfWeek]="1"></p-calendar>

        <div *ngIf="false">
            <p-calendar [timeOnly]="true"  ></p-calendar>
        </div>

    </div>
    <div class="lg:col-8 sm:col-12 ">
        <p-divider align="left" type="dashed">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-align-justify p-mr-2"></i>
                <b>DESCRIPTION</b>
            </div>
        </p-divider>

        <textarea rows="6" cols="30" placeholder="Your Message" [(ngModel)]="cmd.description" pInputTextarea style="width: 100%" ></textarea>

        <p-divider align="left" type="dashed">
            <div class="p-d-inline-flex p-ai-center">
                <i class="pi pi-user p-mr-2"></i>
                <b>PARTICIPANTS</b>
            </div>
        </p-divider>
        <div class="inputgroup" style="width: 100%;">
            <app-search-participant-dialog (participants)="add($event)" ></app-search-participant-dialog>
            <button type="button" pButton pRipple icon="pi pi-plus" (click)="showCreateParticipantDialog = !showCreateParticipantDialog"></button>
        </div>

    </div>

</div>

<app-create-participant-dialog [(visible)]="showCreateParticipantDialog"></app-create-participant-dialog>
