<div class="wdys-menu-top">

    <button
        (click)="toggleMenu()"
        class="menu-button"
        style="height: 55px; width: 110px;">
        <em class="pi pi-th-large"></em>
    </button>

    <img style="height: 35px; position: relative; top: 10px;" src="/assets/icons/flaticon/schedule.png" alt="schedule">

</div>

<div style="padding-left: 15px; padding-right: 5px;">
    <router-outlet></router-outlet>
</div>



<p-sidebar [fullScreen]="false"
           [style]="{width:'480px'}"
           position="left"
           title="MENU"
           [(visible)]="menuVisible">

    <div class="grid">

        <div *ngFor="let i of menu" class="col-12" (click)="i.action()" >
            <label class="menu-item">
                <em class="pi {{i.icon}}"></em>
                {{i.label}}
            </label>
        </div>

    </div>

</p-sidebar>
