<div class="wdys-menu-top">

    <div class="grid">

        <div class="col">
            <button
                (click)="toggleMenu()"
                class="menu-button"
                style="height: 55px; width: 110px;">
                <em class="pi pi-th-large"></em>
            </button>
            <img style="height: 35px; position: relative; top: 10px;" src="/assets/icons/flaticon/schedule.png" alt="schedule">
        </div>
        <div class="col" style="position: relative; top: 8px;">
            <div class="p-inputgroup" style="border-radius: 15px;">
                <button style="border-top-left-radius: 15px; border-bottom-left-radius: 15px;"
                    type="button" pButton pRipple icon="pi pi-search"></button>
                <input #searchLine
                       style="border-top-right-radius:15px; border-bottom-right-radius: 15px;"
                       (keyup)="startSearch($event,this.searchLine.value)"
                       (focus)="op.toggle($event)" type="text"
                       pInputText placeholder="Searching">

                <p-overlayPanel #op [style]="{width:'520px'}">

                    <div class="grid">
                        <div class="col-12">
                            <div *ngIf="result && result.length > 0">
                                <p-divider>MEETINGS</p-divider>
                                <div *ngFor="let r of result" style="margin-bottom: 15px;">
                                    <button pButton label="OPEN"
                                            (click)="openMeeting(r.id)"></button>
                                    <label (click)="openMeeting(r.id)" class="item-label" >&nbsp;{{r.description}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12" *ngIf="actionResults && actionResults.length > 0">
                            <div >
                                <p-divider>ACTIONS</p-divider>
                                <div *ngFor="let r of actionResults" style="margin-bottom: 15px;">
                                    <button pButton label="OPEN"
                                            class="p-button-danger"
                                            (click)=" startAction(r.action) "></button>
                                    <label class="item-label" (click)="startAction(r.action)" >&nbsp;{{r.label}}</label>
                                    <div>
                                        <label>{{r.type}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6"></div>
                        <div class="col-6"></div>
                    </div>


                </p-overlayPanel>

            </div>
        </div>
        <div class="col"></div>


    </div>

</div>

<div style="padding-left: 15px; padding-right: 5px;">
    <router-outlet>
    </router-outlet>
</div>



<p-sidebar [fullScreen]="false"
           [style]="{width:'480px'}"
           position="left"
           title="MENU"
           [(visible)]="menuVisible">

    <div class="grid">

        <div class="col-12">
            <p-divider>
                <img style="height: 35px;" src="/assets/icons/flaticon/schedule.png" alt="schedule">
                <label style="font-weight: bold; font-size:1.6em; margin-left: 5px; position: relative; top: -7px;">WDYS</label>
            </p-divider>

        </div>

        <div *ngFor="let i of menu" class="col-12" (click)="i.action()" style="border-bottom: 1px solid silver; padding-left: 35px;" >
            <label class="menu-item p-button-label">
                <em class="pi {{i.icon}}"></em>
                {{i.label}}
            </label>
        </div>

    </div>

</p-sidebar>



<app-create-participant-dialog [(visible)]="toggleCreateParticipantDialog" ></app-create-participant-dialog>
