

<div style="margin-bottom: 25px;">

    <div>
        <p-splitButton
            class="p-button-success"
            [style]="{width:'100%'}"
            (onClick)="newMeetingRouting()"
            [model]="commandItems"
            label="ADD MEETING"
            icon="pi pi-plus"></p-splitButton>
    </div>

</div>

<div class="grid dashboard">
    <div class="col-12 md:col-6 lg:col-3">
        <div class="grid p-nogutter card overview-box overview-box-1">
            <span class="overview-box-name">Meetings</span>
            <span class="overview-box-count">{{count?.meetings}}</span>
            <span class="overview-box-badge">+30%</span>
            <img alt="chart-1.svg" src="assets/layout/images/dashboard/chart-1.svg" />
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="grid p-nogutter card overview-box overview-box-2">
            <span class="overview-box-name">Sessions</span>
            <span class="overview-box-count">{{count?.sessions}}</span>
            <span class="overview-box-badge">+45%</span>
            <img alt="chart-2.svg" src="assets/layout/images/dashboard/chart-2.svg" />
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="grid p-nogutter card overview-box overview-box-3">
            <span class="overview-box-name">Notes</span>
            <span class="overview-box-count">{{count?.notes}}</span>
            <span class="overview-box-badge">-75%</span>
            <img alt="chart-3.svg" src="assets/layout/images/dashboard/chart-3.svg" />
        </div>
    </div>
    <div class="col-12 md:col-6 lg:col-3">
        <div class="grid p-nogutter card overview-box overview-box-4">
            <span class="overview-box-name">Todos</span>
            <span class="overview-box-count">{{count?.todos}}</span>
            <span class="overview-box-badge">25%</span>
            <img alt="chart-5.svg" src="assets/layout/images/dashboard/chart-4.svg" />
        </div>
    </div>


    <div class="p-col-12">
        <!--
        <app-search-meetings-input></app-search-meetings-input>
        -->
    </div>

    <div class="col-12 lg:col-4">
        <p-panel header="Todos" [style]="{'height':'100%'}">
            <div class="activity-header">
                <div class="p-grid">
                    <div class="p-col-6">
                        <span style="font-weight:bold">Most Urgend Todos</span>
                        <p>Updated 1 minute ago</p>
                    </div>
                    <div class="p-col-6" style="text-align:right">
                        <button type="button" label="Update" icon="pi pi-refresh" pButton></button>
                    </div>
                </div>
            </div>
            <ul class="activity-list">
                <li *ngFor="let o of todos">
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 style="cursor: pointer;" class="activity p-m-0" (click)="loadMeetingFromTodo(o)"  >
                            {{o.label}}
                            <em class="pi pi-link"></em>
                        </h5>
                        <div pTooltip="Due in Days" *ngIf="o.dueDate" class="count" [class.bg-green]="o.dueDaysTillDeadline < 30" [class.bg-yellow]="o.dueDaysTillDeadline < 60" [class.bg-red]="o.dueDaysTillDeadline >= 90">
                            {{o.dueDays}}
                        </div>
                    </div>
                    <p-progressBar [value]="o.dueDaysTillDeadline" [showValue]="false"></p-progressBar>
                    <div style="margin-top: 5px;" *ngIf="o.dueDate">
                        <div pTooltip="Creation Date" [class.bg-green]="o.dueDaysTillDeadline < 30" [class.bg-yellow]="o.dueDaysTillDeadline < 60" [class.bg-red]="o.dueDaysTillDeadline >= 90" class="count" style="float: left">
                            {{o.created | date:'dd.MM'}}
                        </div>
                        <div pTooltip="Due Date" [class.bg-green]="o.dueDaysTillDeadline < 30" [class.bg-yellow]="o.dueDaysTillDeadline < 60" [class.bg-red]="o.dueDaysTillDeadline >= 90" class="count" style="float: right">
                            {{o.dueDate | date:'dd.MM' }}
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </li>
            </ul>
        </p-panel>
    </div>

    <div class="col-12 lg:col-4">
        <p-panel header="Last Meeting Activities" [style]="{'height':'100%'}">
            <div class="activity-header">
                <div class="p-grid">
                    <div class="p-col-6">
                        <span style="font-weight:bold">Last Meeting Activity</span>
                        <p>Updated 1 minute ago</p>
                    </div>
                    <div class="p-col-6" style="text-align:right">
                        <button type="button" label="Update" icon="pi pi-refresh" pButton></button>
                    </div>
                </div>
            </div>
            <ul class="activity-list">
                <li *ngFor="let m of lastMeetings">
                    <div class="p-d-flex p-jc-between p-ai-center p-mb-3">
                        <h5 class="activity p-m-0">{{m.topic}}</h5>
                        <button pButton [routerLink]="['meeting','view',m.id]" class="p-button-link" label="OPEN"></button>
                    </div>
                    <p-progressBar [value]="m.finishedInPercent" [showValue]="false"></p-progressBar>
                </li>
            </ul>
        </p-panel>
    </div>

    <div class="col-12 lg:col-4 contacts">
        <p-panel *ngIf="communications" header="Most Communications" [style]="{'min-height':'360px'}" styleClass="p-shadow-content">
            <div class="activity-header">
                <div class="p-grid">
                    <div class="p-col-6">
                        <span style="font-weight:bold">Communications</span>
                        <p>Updated 1 minute ago</p>
                    </div>
                    <div class="p-col-6" style="text-align:right">
                        <button type="button" label="Update" icon="pi pi-refresh" pButton></button>
                    </div>
                </div>
            </div>
            <ul>
                <li *ngFor="let c of communications" class="clearfix">
                    <div class="contact-info">
                        <span class="name">{{c.firstName}} {{c.lastName}}</span>
                        <span class="location">{{c.mail}}</span>
                    </div>
                    <div class="contact-actions">
                        <span class="connection-status online">{{c.count}}</span>
                        <em class="pi pi-envelope"></em>
                        <em class="pi pi-reply"></em>
                    </div>
                </li>
            </ul>
        </p-panel>
    </div>

    <div class="col-12 lg:col-4 contacts">
        <p-card header="Note Timeline">
            <div class="activity-header">
                <div class="p-grid">
                    <div class="p-col-6">
                        <span style="font-weight:bold">Last Notes</span>
                        <p>Updated 1 minute ago</p>
                    </div>
                    <div class="p-col-6" style="text-align:right">
                        <button type="button" label="Update" icon="pi pi-refresh" pButton></button>
                    </div>
                </div>
            </div>
            <p-timeline [value]="lastNotesList" align="left" styleClass="customized-timeline">
                <ng-template pTemplate="marker" let-event>
            <span class="custom-marker " [style.backgroundColor]="event.color">
                    <em class="pi pi-comment" style="color:#9c27b0; font-size: 2em;"></em>
            </span>
                </ng-template>
                <ng-template pTemplate="opposite" let-event>
                    <label style="font-size: 1.1em; text-overflow: fade; width: 50px;">{{event.dayString}}</label>
                </ng-template>
                <ng-template pTemplate="content" let-event>
                    <span class="event-owner" style="color:#009688; font-size: 1.4em;">{{event.participant?.firstName}}</span>
                    <div style="margin-bottom: 15px; width: 140px">
                        <span class="event-text" style="font-size: 1.1em; text-overflow: ellipsis; width: 80px;" [innerHTML]="event.note" ></span>
                        <div style="text-align: right; margin-top: 5px;">
                            <button [routerLink]="['/app/wdys/meeting/view',event.meeting,'session',event.session]" class="p-button-link" pButton label="MORE"></button>
                        </div>
                    </div>
                </ng-template>
            </p-timeline>
        </p-card>
    </div>


</div>

<app-running-time-tracker></app-running-time-tracker>
